header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 16px 0;
}

.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  background-color: var(--background-tertiary-color);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  nav {
    position: relative;
  }

  .navigation-menu {
    margin-top: 0;
    width: 467px;
  }

  .navigation-menu label {
    display: none;
  }

  .navigation-menu nav {
    display: block;
  }

  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .navigation-menu ul li {
    margin-top: 0;
  }
}
