.hero-img {
  height: 400px;
  width: 100%;
  background: url(../images/Banner\ homepage\ mobile.jpg) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-size: 20px;
  font-weight: var(--text-weight);
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../images/Banner\ homepage\ tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background: url(../images/Banner\ homepage\ desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1920px) {

  .hero h2 {
    padding: 88px 160px;
    font-size: 32px;
  }
}
